.App {
  font-family: sans-serif;
  text-align: center;
}

.flex-container {
  margin: 0 15px;
}
.flex-container .inline {
  width: 80px!important;
  margin: 9px 9px 9px 0;
}
.flex-container .small {
  height: 20px!important;
  line-height: 20px!important;
}
.sub-title {
  color: #888;
  font-size: 14px;
  padding: 30px 0 18px 0;
}
.placeholder {
  background-color: #ebebef;
  color: #bbb;
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: 100%;
}

.txt{
  border-radius: 7px 7px 0 0;
  font-size: 14px;
  background-color: #ebebef;
  height: 20px;
  line-height: 20px;
  padding: 2px;
  width: 80%;
  border-bottom: 1px solid rgb(149, 149, 149);
}

.data{
  border-radius: 0 0 7px 7px;
  font-size: 16px;
  background-color: #ebebef;
  height: 30px;
  line-height: 30px;
  padding: 2px;
  width: 80%;
}